<h1>Sample App</h1>
<p>
  This is the home page for the <a href="#">Phoenix Tutorial</a>
  sample application.
  <.link href={~p"/signup"} rel="nofollow">
    <button class="btn btn-primary btn-sm">Sign up</button>
  </.link>
</p>
