<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {ToyAppWeb.DynamicTextHelpers.page_title(
        Enum.into(
          assigns,
          %{view_module: @conn.private.phoenix_view, action: @conn.private.phoenix_action}
        )
      )}
    </title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
  </head>
  <body>
    <.app_header />
    <!-- Main content container -->
    <!-- Using Tailwind's container and padding utility classes -->
    <div class="container mx-auto p-4 z-10">
      {@inner_content}
    </div>

    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <.app_footer />
  </body>
</html>
